<!-- <app-header></app-header>

<div class="flex h-screen overflow-hidden bg-gray-100 min-w-0">
  <app-sidebar
    class="h-full col transition-all duration-300"
    [style.padding-top]="!isScrolled() ? '144px' : '80px'"
  >
  </app-sidebar>

  <div class="flex-1 flex flex-col overflow-hidden">
    <main
      (scroll)="onContentScroll($event)"
      class="flex-1 overflow-x-hidden overflow-y-auto transition-all duration-300"
      [style.padding-top]="!isScrolled() ? '144px' : '80px'"
    >
      <div class="container mx-auto px-4 py-8">
        <router-outlet /> -->

        <!-- <div class="h-[200vh] mt-8">
          <h1 class="text-3xl font-bold mb-4">
            Welcome to Space : Digital Property Management
          </h1>
          <p class="mb-4">Scroll down to see the header transform!</p>
          <p class="text-gray-600">
            More content here to ensure there's a lot to scroll through...
          </p>
        </div> -->
<!--
      </div>
    </main>
  </div>
</div> -->



<app-header
  [style.--sidebar-width]="isSidebarExpanded() ? '18rem' : '5rem'"
></app-header>

<div class="flex h-screen overflow-hidden bg-bg min-w-0">
  <app-sidebar
    class="h-full flex-shrink-0 transition-all duration-300 relative z-20"
    [style.padding-top]="!isScrolled() ? '96px' : '64px'"
  >
  </app-sidebar>

  <div class="flex-1 flex flex-col overflow-hidden min-w-0 relative z-10">
    <main
      (scroll)="onContentScroll($event)"
      class="flex-1 overflow-x-hidden overflow-y-auto transition-all duration-300"
      [style.padding-top]="!isScrolled() ? '96px' : '64px'"
    >
      <div class="container mx-auto px-4 py-8">
        <router-outlet />
      </div>
    </main>
  </div>
</div>
